body {
  background-color: rgb(244, 248, 255);
}

.navbar {
  padding: 20px 0px 20px 0px;
  background-color: rgb(201, 220, 250);
}

.wrapper {
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(201, 220, 250);
  font-weight: bold;
}

#sideMenu a {
  color: rgb(13, 109, 252);
  font-weight: bold;
}

#active {
  color: white;
}

#sideMenu a:hover {
  color: rgb(14, 41, 114);
}

#Main {
  padding-top: 20px;
}

.olli {
  background-color: rgb(244, 248, 255);
}

.green {
  background-color: green;
}

.boldRow {
  font-weight: bold;
}
