body {
  background-color: rgb(244, 248, 255);
}

.navbar {
  padding: 20px 0px 20px 0px;
  background-color: rgb(201, 220, 250);
}

.wrapper {
  height: 100vh;
}

.wrapper-main {
  width: 100vw;
  padding: 20px;
}

#sideMenu a {
  color: rgb(13, 109, 252);
  font-weight: bold;
}

#active {
  color: white;
}

#sideMenu a:hover {
  color: rgb(14, 41, 114);
}

/* #Main {
  padding-top: 20px;
} */

.olli {
  background-color: rgb(244, 248, 255);
}

.green {
  background-color: green;
}

.boldRow {
  font-weight: bold;
}
